$siderbarBgColor: #545c64;
$siderbarTextColor: #ffffff;
$siderbarActiveTextColor: #ffd04b;
$siderbarWidth: 220px;
$topbarHeight: 48px;
$mainBackgroundColor: #f5f5f5;
$topbarBackgroundColor: #ffffff;
$siderbarBackgroundColor: #424f63;
$cardBackgroundColor: #0277BD;
$cardTextColor: #fff;
// border的颜色
$borderColor: #e6ebf5;
$tableHeaderBgColor: #f5f7fa;
$uploadBorder: #d9d9d9; //上传图片按钮边框
$uploadHoverBorder: #409eff;//上传图片按钮hover边框
$label: #99a9bf;//账户列表详情属性标题颜色